// colors
$primary: #6495ED;
$primaryHover: #5b88d9;
$whiteColor: #fff;
$darkText: #010138;

// font weight
$fontRegular: 400;
$fontBold: 700;

// border radius
$borderRadiusSmall: 8px;
$borderRadiusMedium: 10px;

// spacing
$spacingS: 4px;
$spacingM: 8px;
$spacingL: 16px;
$spacingXL: 24px;

// fonts
$fontS: 14px;
$fontM: 16px;
$fontL: 20px;
$fontXL: 24px;

// line heights
$lineHeightS: 16px;
$lineHeightM: 18px;
$lineHeightL: 24px;
$lineHeightXL: 28px;